/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
.menu ul li a {
    padding: 5px 0 !important;
}
.dropdown-menu[data-bs-popper] {
    top: 30px;
    left: 45px;
}
.d_dm {
    padding: 10px;
    width: 220px;
}
.src {
    padding: 5px 0px;
}
.bh1 {
    font-size: 25px;
}
.bp2 {
    font-size: 10px;
}
.b_link {
    padding: 10px;
    width: 120px;
    height: 45px;
}
.row > * {
    padding-right: 0;
    padding-left: calc(var(--bs-gutter-x)* 0.5);
    margin-top: var(--bs-gutter-y);
}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
.menu ul li a {
    padding: 5px 0 !important;
}
.src {
    padding: 5px 0px;
}
.dropdown-menu[data-bs-popper] {
    top: -3px;
    left: 50px;
}
.bh1 {
    font-size: 53px;
}
.bp2 {
    font-size: 17px;
}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
.bh1 {
    font-size: 50px;
}
.bp2 {
    font-size: 17px;
}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

/* Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {

}
